<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <!-- TODO REMOVE LATER-->
    <!-- <add name="DB" connectionString="Server=BELLKROSSZP\NOTESSQL;database=Notes;uid=sa;pwd=dH5imkO0BbH0ZOoY" providerName="System.Data.SqlClient" /> -->
    <add name="NotesEntities" connectionString="metadata=res://*/Notes.csdl|res://*/Notes.ssdl|res://*/Notes.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=BELLKROSSZP\NOTESSQL;initial catalog=Notes;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>